[Desktop Entry]
Version=1.0
Type=Application
Name=Syllavox
Comment=Local offline text-to-speech reader
Exec=/usr/lib/syllavox/Syllavox
Icon=com.ruben-crespo-blanco.syllavox
Terminal=false
Categories=Utility;AudioVideo;Accessibility;
Keywords=text;speech;read;accessibility;
StartupNotify=true
